#navbar {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

a.navbar-element:link {
    margin: 0 10px;
    text-decoration: none;
    color: #46474a;
}

a.navbar-element:hover {
    text-decoration: underline;
}

.navbar-element.user-icon img {
    margin-right: 20px;
    border-radius: 25px;
}

#content-wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content>* {
    padding: 10px 0;
}

#language-options a:link {
    text-decoration: none;
}

#language-options a:hover {
    text-decoration: underline;
}

input#search_key {
    max-width: 500px;
    min-width: 200px;
    width: 50vw;
    height: 30px;
    font-size: 1.15em;
    box-shadow: none;
    border: none;
    outline: none;
    margin: 0 10px;
}

#search-box {
    border: thin solid #d7d9de;
    border-radius: 25px;
    padding: 10px 20px;
}

#search-box:hover {
    box-shadow: 0 0 0.5px 2px #88898f;
}

#search-options {
    margin-top: 10px;
}

#search-options button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #dcdfe6;
    font-size: 0.8em;
    margin-right: 10px;
}

#search-options button:hover {
    box-shadow: 0 0 0.5px 0.5px #88898f;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    z-index: 1;
}

#footer a:link {
    text-decoration: none;
    color: #5f6163;
}

#footer a:hover {
    text-decoration: underline;
}

.bar {
    background-color: #e9ebf0;
    color: #5f6163;
    min-height: 45px;
    height: fit-content;
    overflow: auto;
}

.language-bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.language-bar span {
    margin-left: 20px;
}

.options-bar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.options-list {
    padding: 10px 8px;
}

.option {
    padding: 10px 8px;
}